{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="columns is-centered is-flex is-vcentered is-centered">
    <div class="column is-one-third is-narrow is-justify-content-center is-align-items-center">
    {% if messages %}
    <h1 class="title has-text-centered">Загрузить ещё один документ</h1>
    {% else %}
        <h1 class="title has-text-centered">Загрузите документ</h1>
    {% endif %}
        <div class="form-wrapper">
            <form id="uploadForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="file has-name is-boxed">
                    <label class="file-label">
                        <input class="file-input" type="file" name="file" onchange="updateFileName(this)">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label">
                                Выберете .docx
                            </span>
                        </span>
                        <span class="file-name">
                            Файл не выбран
                        </span>
                    </label>
                </div>
                {% if form.file.errors %}
                            <p class=" help is-danger">{{ form.file.errors.as_text }}</p>
                {% endif %}

                <!-- DocType ChoiceField -->
                <div class="field">
                    <label class="label has-text-centered" for="{{ form.doc_type.id_for_label }}">Тип документа</label>
                    <div class="control">

                        <div class="select is-fullwidth">
                            {{ form.doc_type }}
                        </div>
                    </div>
                    {% if form.doc_type.errors %}
                        <p class="help is-danger">{{ form.doc_type.errors|first }}</p>
                    {% endif %}
                </div>


                <div class="button-wrapper">
                    <button class="button is-dark" type="submit">Upload</button>
                </div>
                <div class="button-wrapper">
                <div class="loader" id="loader"></div>
                </div>
            </form>
        </div>
    </div>
</div>

        {% if messages  %}
    <div class="columns is-centered">
        <div class="column is-three-quarters">
            <table class="table is-hoverable is-bordered">
                  <thead>
                    <tr>
                        <th>Место</th>
                        <th>Стандарт</th>
                        <th>Ошибка</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for message in messages %}
                    <tr>
                    {% if message.message_type == 1 %}
                        <th class="has-background-warning-light" >{{ message.position }}</th>
                    {% else %}
                        <th class="has-background-danger-light" >{{ message.position }}</th>
                    {% endif %}

                      <td>{{ message.standard }}</td>
                        <td>{{ message.message }}</td>
                    </tr>
                  {% endfor  %}
              </tbody>
            </table>
        </div>

    </div>
    {% endif %}

    <script>
        document.getElementById('uploadForm').addEventListener('submit', function() {
        // Show the loader
        document.getElementById('loader').style.display = 'block';
        });

    function updateFileName(input) {
        var fileName = input.files && input.files.length > 0 ? input.files[0].name : '';
        var fileNameElement = input.closest('.file').querySelector('.file-name');
        if (fileName) {
            fileNameElement.textContent = fileName;
            fileNameElement.style.display = ''; // Show the file name
        } else {
            fileNameElement.textContent = 'Файл не выбран';
            fileNameElement.style.display = 'none'; // Hide if no file is selected
        }
    }
</script>
{% endblock %}